

<footer class="footer_area" >
  <div class="container ">
    
    <div class="row d-flex justify-content-center" >
      <div class="col-lg-4">
        <h5 class="mb-20">Nos solutions</h5>
        <ul class="nav flex-column">
          {% for catg in catgServ.getCategoriesService %}
            <li class="nav-item mb-2"><a title="lien vers tous nos services dans liés au {{catg.slug}} " href="{{absolute_url(path('services', { slug: catg.slug }))}}" class="nav-link p-0 text-muted">{{catg.designation}}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-lg-4">
        <h5 class="mb-20">Nos actulités</h5>
        <ul class="nav flex-column">
          {% for catgArticle in catgsArticle.getCategoriesArticle %}
            <li class="nav-item mb-2"><a title="lien vers tous nos services dans liés au {{catgArticle.slug}} " href="{{absolute_url(path('blog_by_categorie', { slug: catgArticle.slug }))}}" class="nav-link p-0 text-muted">{{catgArticle.title}}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-lg-4">
        <h5 class="mb-20">Plan du site</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="{{ absolute_url(path('home')) }}" class="nav-link p-0 text-muted">Accueil</a></li>
          <li class="nav-item mb-2"><a href="{{ absolute_url(path('about')) }}" class="nav-link p-0 text-muted">Logone</a></li>
          <li class="nav-item mb-2"><a href="{{ absolute_url(path('categorie_service_all')) }}" class="nav-link p-0 text-muted">Services</a></li>
          <li class="nav-item mb-2"><a href="{{ absolute_url(path('blog')) }}" class="nav-link p-0 text-muted">blog</a></li>
          <li class="nav-item mb-2"><a href="{{ absolute_url(path('jobslist_front')) }}" class="nav-link p-0 text-muted">Rejoignez-nous</a></li>
          <li class="nav-item mb-2"><a href="{{ absolute_url(path('contact')) }}" class="nav-link p-0 text-muted">Contact</a></li>
        </ul>
      </div>
      
     
    </div>
    <div class="row d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-lg-8">
        <a style="color: #777777;" href="{{absolute_url(absolute_url(path("app_mention_legale")))}}" title="lien vers nos mentions légales">mentions  légales</a>
          <p class="col-lg-8 col-sm-12 footer-text" style="display: inline;">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
      </div>
      <div class="col-lg-4">
        <div class="footer_social">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      </div>
    </div>
</footer>



