<header class="header_area">
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a
          class="navbar-brand logo_h"
          style="position: relative; right: 30px"
          href="{{ absolute_url(path('home')) }}"
          ><img src="{{ asset('assetF/') }}img/logo.png" alt=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div
          class="collapse navbar-collapse offset"
          id="navbarSupportedContent"
        >
          <ul class="nav navbar-nav menu_nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="{{ absolute_url(path('home')) }}"
                >Accueil</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ absolute_url(path('about')) }}"
                >Logone</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{{ absolute_url(path('categorie_service_all')) }}"
                >services</a
              >
            </li>
            {#
            <li class="nav-item submenu dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Services</a
              >
              <ul class="dropdown-menu">
                {% for catg in catgs.getCategoriesService %}
                <li class="nav-item">
                  <a
                    title="lien vers tous nos services dans liés au {{
                      catg.slug | u.truncate(20, true)
                    }} "
                    class="nav-link"
                    href="{{
                      absolute_url(path('services', { slug: catg.slug }))
                    }}"
                    >{{ catg.designation }}</a
                  >
                </li>
                {% endfor %}
              </ul>
            </li>
            #} {#
            <li class="nav-item">
              <a class="nav-link" href="{{ absolute_url(path('app_rdv')) }}"
                >rdv</a
              >
            </li>
            #}
            <li class="nav-item">
              <a class="nav-link" href="{{ absolute_url(path('blog')) }}"
                >Blog</a
              >
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                href="{{ absolute_url(path('jobslist_front')) }}"
                >Rejoignez-nous</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{ absolute_url(path('contact')) }}"
                >Contact</a
              >
            </li>
            {% if app.user %}
            <li class="nav-item">
              <a
                class="nav-link"
                href="{{ absolute_url(path('security_logout')) }}"
                >déconnexion</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
