{% extends 'baseF.html.twig'%} {% block title %} A propos | Logone {% endblock
%} {% block meta %}
<meta name="description" content="" />
<meta name="keywords" content="" />
{% endblock %} {% block content %}
{{ include("include/frontoffice/header.html.twig") }}
<!--================ Start About Us Area =================-->
{#
<section class="about_area section_gap">
  <div class="container">
    <div class="row justify-content-start align-items-center">
      <div class="col-lg-5">
        <div class="about_img">
          <img class="" src="img/about-us.png" alt="" />
        </div>
      </div>

      <div class="offset-lg-1 col-lg-5">
        <div class="main_title text-left">
          <h2>
            let’s <br />
            Introduce about <br />
            myself
          </h2>
          <p>
            Whose given. Were gathered. There first subdue greater. Bearing you
            Whales heaven midst their. Beast creepeth. Fish days.
          </p>
          <p>
            Is give may shall likeness made yielding spirit a itself together
            created after sea is in beast beginning signs open god you're
            gathering whose gathered cattle let. Creature whales fruit unto meat
            the life beginning all in under give two.
          </p>
          <a class="primary_btn" href="#"><span>Download CV</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
#}
<style>
  .bg-us {
    margin-bottom: 100px;
  }
</style>
<div class="row bg-us"></div>
<section class="about_area">
  <div class="container">
    <div class="row justify-content-start align-items-center">
      <div class="col-lg-7">
        <div class="about_img">
          <img
            class=""
            src="{{ asset('assetF/') }}img/team-logone.png"
            alt="image équipe logone"
          />
        </div>
      </div>

      <div class="col-lg-5" style="word-wrap: break-word">
        <div class="main_title text-left">
          <h2>Nous Connaitre</h2>
          <p>
            Entreprise jeune, dynamique et portée par une forte ambition,
            <strong><span style="color: black">LOGONE</span></strong>
            est une équipe de personnes issus d’origine et culture différente.
          </p>
          <p>
            Notre savoir faire réside sur notre capacité à allier tallent,
            nouvelle technologie et efficacité afin d'offrir une prèstation sur
            mesure et des compétences aux standars internationnaux.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about_area" style="margin-top: 100px">
  <div class="container" style="text-align: center; word-wrap: break-word">
    <div class="main_title">
      <h2>les cinq piliers de notre engagement RSE</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis vitae
        nihil eos, fugiat necessitatibus aut. Minus porro, reiciendis
        praesentium nisi tenetur sed inventore dicta fugiat optio enim laborum
        expedita ullam illum perspiciatis itaque sint cum, quaerat unde delectus
        obcaecati.
      </p>
    </div>
    <div class="row" style="margin-top: -10px">
      <img
        src="{{ asset('assetF/') }}img/RSE_LOGONE.jpg"
        alt="infographie RSE LOGONE"
      />
    </div>
  </div>
  <br />
</section>
<section class="about_area" style="margin-bottom: 200px; margin-top: -20px">
  <div class="container" style="text-align: center">
    <div class="main_title" style="margin-bottom: 50px">
      <h2>les cinq piliers de notre engagement RSE</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis vitae
        nihil eos, fugiat necessitatibus aut. Minus porro, reiciendis
        praesentium nisi tenetur sed inventore dicta fugiat optio enim laborum
        expedita ullam illum perspiciatis itaque sint cum, quaerat unde delectus
        obcaecati.
      </p>
    </div>
    <div class="row" style="margin-top: -10px">
      <img
        src="{{ asset('assetF/') }}img/logone-roadmap.png"
        alt="infographie RSE LOGONE"
      />
    </div>
  </div>
  <br />
</section>

{#
<section class="about_area" style="margin-bottom: 200px">
  <div class="container">
    <div class="row justify-content-start align-items-center">
      <div class="col-lg-5">
        <div class="about_img">
          <img class="" src="{{ asset('assetF/') }}img/about-us.png" alt="" />
        </div>
      </div>

      <div class="offset-lg-1 col-lg-5">
        <div class="main_title text-left">
          <h2>Nos Valeurs</h2>
          <p>
            Entreprise jeune, dynamique et portée par une forte ambition,
            <strong><span style="color: black">LOGONE</span></strong>
            est une équipe de personnes issus d’origine et culture différente.
          </p>
          <p>
            Notre savoir faire réside sur notre capacité à allier tallent,
            nouvelle technologie et efficacité afin d'offrir une prèstation sur
            mesure et des compétences aux standars internationnaux.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
#}
<!--================ End About Us Area =================-->

<!--================Footer Area =================-->
{{ include("include/frontoffice/footer.html.twig") }}
{% endblock %}
