{% extends 'baseF.html.twig'%} {% block title %} Accueil | Logone {% endblock %}
{% block content %} {% include('include/frontoffice/header.html.twig')%}

<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="container">
      <div class="banner_content text-center">
        <h2>About Us</h2>
        <div class="page_link">
          <a href="{{ path('home') }} ">Home</a>
          <a href="#">Logone</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Banner Area =================-->

<!--================ Start About Us Area =================-->
<!--================ End About Us Area =================-->
<section class="about_area" style="margin-top: 50px">
  <div class="container">
    <div class="row justify-content-start align-items-center">
      <div class="col-lg-5">
        <div class="about_img">
          <img class="" src="{{ asset('assetF/') }}img/about-us.png" alt="" />
        </div>
      </div>

      <div class="offset-lg-1 col-lg-5">
        <div class="main_title text-left">
          <h2>Nous Connaitre</h2>
          <p>
            Entreprise Jeune, dynamique et portée par une forte ambition, LOGONE
            Est une équipe de personnes issus d’origine et culture différente.
          </p>
          <p>
            Notre savoir faire réside sur notre capacité à allier tallent,
            nouvelle technologie et efficacité afin d'offrir une prèstation sur
            mesure et des compétences aux standars internationnaux.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about_area">
  <div class="container">
    <div class="row justify-content-start align-items-center">
      <div class="offset-lg-1 col-lg-5">
        <div class="main_title text-left">
          <h2>Notre Vision</h2>
          <p>
            Whose given. Were gathered. There first subdue greater. Bearing you
            Whales heaven midst their. Beast creepeth. Fish days.
          </p>
          <p>
            Is give may shall likeness made yielding spirit a itself together
            created after sea is in beast beginning signs open god you're
            gathering whose gathered cattle let. Creature whales fruit unto meat
            the life beginning all in under give two.
          </p>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="about_img">
          <img class="" src="{{ asset('assetF/') }}img/about-us.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about_area">
  <div class="container">
    <div class="row justify-content-start align-items-center">
      <div class="col-lg-5">
        <div class="about_img">
          <img class="" src="{{ asset('assetF/') }}img/about-us.png" alt="" />
        </div>
      </div>
      <div class="offset-lg-1 col-lg-5">
        <div class="main_title text-left">
          <h2>Notre Mission</h2>
          <p>
            Whose given. Were gathered. There first subdue greater. Bearing you
            Whales heaven midst their. Beast creepeth. Fish days.
          </p>
          <p>
            Is give may shall likeness made yielding spirit a itself together
            created after sea is in beast beginning signs open god you're
            gathering whose gathered cattle let. Creature whales fruit unto meat
            the life beginning all in under give two.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about_area">
  <div class="container">
    <div class="row justify-content-start align-items-center">
      <div class="offset-lg-1 col-lg-5">
        <div class="main_title text-left">
          <h2>
            Nos <br />
            Valeurs
          </h2>
          <p>
            Whose given. Were gathered. There first subdue greater. Bearing you
            Whales heaven midst their. Beast creepeth. Fish days.
          </p>
          <p>
            Is give may shall likeness made yielding spirit a itself together
            created after sea is in beast beginning signs open god you're
            gathering whose gathered cattle let. Creature whales fruit unto meat
            the life beginning all in under give two.
          </p>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="about_img">
          <img class="" src="{{ asset('assetF/') }}img/about-us.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

{{ include("include/frontoffice/footer.html.twig") }}
{% endblock %}
