{% extends 'baseF.html.twig'%} {% block title %} Blog | Logone {% endblock %} {%
block meta %}
<meta name="description" content="" />
<meta name="keywords" content="" />
{% endblock %} {% block content %}

<!--================ Start Header Area =================-->
{% include('include/frontoffice/header.html.twig')%}

<!--================Blog Categorie Area =================-->
<section class="blog_categorie_area section_gap_top">
  <div class="container">
    <div class="row">
      {%for category in catgoriesArticle %}
      <div class="col-lg-4">
        <div class="categories_post">
          <img
            src="{{asset('uploads/images/categories_article/') ~ category.image}}"
            alt="{{ category.image }}"
          />
          <div class="categories_details">
            <div class="categories_text">
              <a
                href="{{ path('blog_by_categorie', { slug: category.slug }) }}"
              >
                <h5>{{ category.title }}</h5>
              </a>
              <div class="border_line"></div>
              <p>{{ category.content | raw }}</p>
              <a
                class="btn btn-primary"
                title="lien vers tout nos articles sur la thématique : {{
                  category.slug
                }}"
                href="{{ path('blog_by_categorie', { slug: category.slug }) }}"
                style="color: white; margin-top: 5px; width: 120px"
                >Voir plus</a
              >
            </div>
          </div>
        </div>
      </div>
      {%endfor%}
      <div class="blog-pagination justify-content-center d-flex">
        {{ knp_pagination_render(catgoriesArticle) }}
      </div>
    </div>
  </div>
</section>
<!--================Blog Categorie Area =================-->

{{ include("include/frontoffice/footer.html.twig") }}

{% endblock %}
