{% extends 'baseF.html.twig'%} {% block title %} Categories-Services | Logone {%
endblock %} {% block meta %}
<meta name="description" content="" />
<meta
  name="keywords"
  content="MARKETING DIGITAL, RELATION CLIENT, CENTRE D'APPEL, EXTERNALISATION-CENTRE-APPEL-TUNISIE"
/>
{% endblock %} {% block content %} {%
include('include/frontoffice/header.html.twig')%}

<!--================ Start Features Area =================-->
<section class="features_area section_gap_top">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="main_title">
          <h2>Nos services</h2>
          <p>
            Is give may shall likeness made yielding spirit a itself togeth
            created after sea <br />
            is in beast beginning signs open god you're gathering ithe
          </p>
        </div>
      </div>
    </div>
    <div class="row feature_inner">
      {% for catg in catgs %}
      <div class="col-lg-3 col-md-6">
        <a
          href="{{ path('services', { slug: catg.slug }) }}"
          class="text-font"
          title="lien vers le service : {{ catg.slug }} "
        >
          <div class="feature_item">
            <img
              src="{{ asset('/uploads/images/categories_service/' ~ catg.image) }}"
              alt="image parlant de {{ catg.designation }}"
            />
            <h4>
              {{ catg.designation }}
            </h4>
            <p>
              {{ catg.description|u.truncate(150,true)|raw }}
              ...
            </p>
            <a
              title="lien nos services de la catégorie : {{ catg.slug }}"
              href="{{ path('services', { slug: catg.slug }) }}"
              class="primary_btn"
            >
              <span>Voir plus</span>
            </a>
          </div>
        </a>
      </div>
      {% endfor %}
      <div class="blog-pagination justify-content-center d-flex">
        {{ knp_pagination_render(catgs) }}
      </div>
    </div>
  </div>
</section>

{#
<div class="testimonial_area section_gap_bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="main_title">
          <h2>client say about me</h2>
          <p>
            Is give may shall likeness made yielding spirit a itself togeth
            created after sea is in beast
            <br />
            beginning signs open god you're gathering ithe
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="testi_slider owl-carousel">
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4">
              <img src="{{ asset('assetF/') }}img/testimonials/t1.jpg" alt="" />
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Elite Martin</h4>
                <p>
                  Him, made can't called over won't there on divide there male
                  fish beast own his day third seed sixth seas unto. Saw from
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4">
              <img src="{{ asset('assetF/') }}img/testimonials/t2.jpg" alt="" />
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Davil Saden</h4>
                <p>
                  Him, made can't called over won't there on divide there male
                  fish beast own his day third seed sixth seas unto. Saw from
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4">
              <img src="{{ asset('assetF/') }}img/testimonials/t1.jpg" alt="" />
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Elite Martin</h4>
                <p>
                  Him, made can't called over won't there on divide there male
                  fish beast own his day third seed sixth seas unto. Saw from
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4">
              <img src="{{ asset('assetF/') }}img/testimonials/t2.jpg" alt="" />
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Davil Saden</h4>
                <p>
                  Him, made can't called over won't there on divide there male
                  fish beast own his day third seed sixth seas unto. Saw from
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4">
              <img src="{{ asset('assetF/') }}img/testimonials/t1.jpg" alt="" />
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Elite Martin</h4>
                <p>
                  Him, made can't called over won't there on divide there male
                  fish beast own his day third seed sixth seas unto. Saw from
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4">
              <img src="{{ asset('assetF/') }}img/testimonials/t2.jpg" alt="" />
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Davil Saden</h4>
                <p>
                  Him, made can't called over won't there on divide there male
                  fish beast own his day third seed sixth seas unto. Saw from
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
#}

{{ include("include/frontoffice/footer.html.twig") }}
{% endblock %}
