{% extends 'baseF.html.twig'%} {% block title %} Devis | Logone {% endblock %}
{% block content %} {% include('include/frontoffice/header.html.twig')%}
<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="container">
      <div class="banner_content text-center">
        <h2>Nous Contacter</h2>
        <div class="page_link">
          <a href="{{ path('home') }}">Accueil</a>
          <a>Devis</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Banner Area =================-->
<!--================Contact Area =================-->
<section class="contact_area section_gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        {% include "include/frontoffice/contact_info.html.twig" %}
      </div>
      <div class="col-lg-8">
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {{ form_start(form) }}
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              {{
                form_row(form.lastname, {
                  label: false,
                  attr: {
                    placeholder: "Nom",
                    class: "form-control",
                  }
                })
              }}
            </div>
            <div class="form-group">
              {{
                form_row(form.firstname, {
                  label: false,
                  attr: {
                    placeholder: "Prénom",
                    class: "form-control",
                  }
                })
              }}
            </div>
            <div class="form-group">
              {{
                form_row(form.email, {
                  label: false,
                  attr: {
                    placeholder: "Email",
                    class: "form-control",
                  }
                })
              }}
            </div>
            <div class="form-group">
              {{
                form_row(form.company, {
                  label: false,
                  attr: {
                    placeholder: "Entreprise",
                    class: "form-control",
                  }
                })
              }}
            </div>
            <div class="form-group">
              {{
                form_row(form.phoneNumber, {
                  label: false,
                  attr: {
                    placeholder: "+33 9865 562",
                    class: "form-control",
                  }
                })
              }}
            </div>
            <div class="form-group">
              {{
                form_row(form.country, {
                  label: false,
                  attr: {
                    placeholder: "Pays",
                    class: "form-control",
                  }
                })
              }}
            </div>

            <div class="form-group">
              {{
                form_row(form.categories, {
                  attr: {
                    class: "form-control mb-3",
                    value: categoryService.id
                  }
                })
              }}
            </div>

            {#
            <div class="form-group">
              {{
                form_row(form.services, {
                  attr: {
                    class: "form-control mt-3 mb-3 ",
                    id: "devis_services"
                  }
                })
              }}
            </div>
            #}
          </div>
          <div class="col-md-6">
            <div class="form-floating">
              {{
                form_row(form.subject, {
                  label: false,
                  attr: {
                    placeholder: "Expliquer votre besoin en détail",
                    class: "form-control",
                  }
                })
              }}
            </div>
          </div>
          <div class="col-md-12 text-right">
            <button
              id="btn-test"
              type="submit"
              value="submit"
              class="primary_btn"
            >
              <span>Envoyer</span>
            </button>
          </div>
        </div>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
</section>
{{ include("include/frontoffice/footer.html.twig") }}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/JavaScript">
  // window.onload = () => {
  //   console
  // var $countries = $("#devis_categories");

  // $countries.change(function () {
  //   // ... retrieve the corresponding form.

  //   var $form = $(this).closest("form");
  //   //Simulate form data, but only include the selected sport value.
  //   var data = {};
  //   data[$countries.attr("name")] = $countries.val();
  //   console.log(data);
  //   // Submit data via AJAX to the form's action path.
  //   $.ajax({
  //     url: $form.attr("action"),
  //     type: $form.attr("method"),
  //     data: data,
  //     complete: function (html) {
  //       // Replace current position field ...
  //       $("#devis_services").replaceWith(
  //         // ... with the returned one from the AJAX response.
  //         $(html.responseText).find("#devis_services")
  //       );
  //       // Position field now displays the appropriate positions.
  //     },
  //   });
  // });
  // };
  window.onload = () => {


    let categories = document.querySelector("#devis_categories");
    // categories.addEventListener("change", function(){
    //   console.log("hello")
    // })
    $("#devis_categories").change(function () {
      let form = this.closest("form");
      let data = this.name + "=" + this.value;


      fetch(form.action, {
        method: form.getAttribute("method"),
        body: data,
        headers: {
          "content-type": "application/x-www-form-urlencoded",
        },
      })
        .then((response) => response.text())
        .then((html) => {

          let content = document.createElement("html");

          content.innerHTML = html;

          let nouveauSelect = content.querySelector("#devis_services");


          document.querySelector("#devis_services").replaceWith(nouveauSelect);
        })
        .catch((error) => {
          console.log(error);
        });
    });
  };
</script>
{% endblock %}
