{% extends 'baseF.html.twig'%} {% block title %} Accueil | Logone {% endblock %}
{% block content %} {% include('include/frontoffice/header.html.twig')%}

<section class="home_banner_area">
  <div class="banner_inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="banner_content">
            <h3 class="text-uppercase">Hello</h3>
            <h1 class="text-uppercase">I am rahi satner</h1>
            <h5 class="text-uppercase">senior wordpress developer</h5>
            <div class="d-flex align-items-center">
              <a class="primary_btn" href="#"><span>Hire Me</span></a>
              <a class="primary_btn tr-bg" href="#"><span>Get CV</span></a>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="home_right_img">
            <img
              class=""
              src="{{ asset('assetF/') }}img/banner/home-right.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Home Banner Area =================-->

<!--================ Start About Us Area =================-->
<section class="about_area section_gap">
  <div class="container">
    <div class="row justify-content-start align-items-center">
      <div class="col-lg-5">
        <div class="about_img">
          <img class="" src="{{ asset('assetF/') }}img/about-us.png" alt="" />
        </div>
      </div>

      <div class="offset-lg-1 col-lg-5">
        <div class="main_title text-left">
          <h2>
            let’s <br />
            Introduce about <br />
            myself
          </h2>
          <p>
            Whose given. Were gathered. There first subdue greater. Bearing you
            Whales heaven midst their. Beast creepeth. Fish days.
          </p>
          <p>
            Is give may shall likeness made yielding spirit a itself together
            created after sea is in beast beginning signs open god you're
            gathering whose gathered cattle let. Creature whales fruit unto meat
            the life beginning all in under give two.
          </p>
          <a class="primary_btn" href="#"><span>Download CV</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="features_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="main_title">
          <h2>service offers</h2>
          <p>
            Is give may shall likeness made yielding spirit a itself togeth
            created after sea <br />
            is in beast beginning signs open god you're gathering ithe
          </p>
        </div>
      </div>
    </div>
    <div class="row feature_inner">
      {% for item in categoriesService %}
      <a href="{{ path('services', { slug: item.slug }) }}" class="text-font">
        <div class="col-lg-3 col-md-6">
          <div class="feature_item">
            <img
              src="{{ asset('/uploads/images/categories_service/' ~ item.image) }}"
              alt="image parlant de {{ item.designation }}"
            />
            <h4>{{ item.designation }}</h4>
            <p>
              {{ item.description | raw }}
            </p>
          </div>
        </div>
      </a>
      {% endfor %}
      <div class="pagination text-center">
        {{ knp_pagination_render(categoriesService) }}
      </div>
    </div>
  </div>
</section>

<div class="testimonial_area section_gap_bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="main_title">
          <h2>client say about me</h2>
          <p>
            Is give may shall likeness made yielding spirit a itself togeth
            created after sea is in beast <br />
            beginning signs open god you're gathering ithe
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="testi_slider owl-carousel">
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4">
              <img src="{{ asset('assetF/') }}img/testimonials/t1.jpg" alt="" />
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Elite Martin</h4>
                <p>
                  Him, made can't called over won't there on divide there male
                  fish beast own his day third seed sixth seas unto. Saw from
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4">
              <img src="{{ asset('assetF/') }}img/testimonials/t2.jpg" alt="" />
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Davil Saden</h4>
                <p>
                  Him, made can't called over won't there on divide there male
                  fish beast own his day third seed sixth seas unto. Saw from
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4">
              <img src="{{ asset('assetF/') }}img/testimonials/t1.jpg" alt="" />
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Elite Martin</h4>
                <p>
                  Him, made can't called over won't there on divide there male
                  fish beast own his day third seed sixth seas unto. Saw from
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4">
              <img src="{{ asset('assetF/') }}img/testimonials/t2.jpg" alt="" />
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Davil Saden</h4>
                <p>
                  Him, made can't called over won't there on divide there male
                  fish beast own his day third seed sixth seas unto. Saw from
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4">
              <img src="{{ asset('assetF/') }}img/testimonials/t1.jpg" alt="" />
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Elite Martin</h4>
                <p>
                  Him, made can't called over won't there on divide there male
                  fish beast own his day third seed sixth seas unto. Saw from
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4">
              <img src="{{ asset('assetF/') }}img/testimonials/t2.jpg" alt="" />
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Davil Saden</h4>
                <p>
                  Him, made can't called over won't there on divide there male
                  fish beast own his day third seed sixth seas unto. Saw from
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--================ End Testimonial Area =================-->

<!--================ Start Newsletter Area =================-->

{{ include("include/frontoffice/footer.html.twig") }}
{% endblock %}
