{% extends 'baseF.html.twig'%} {% block title %} Accueil | Logone {% endblock %}
{% block meta %}
<meta name="description" content="" />
<meta name="keywords" content="" />
{% endblock %} {% block content %} {%
include('include/frontoffice/header.html.twig')%}

<section class="home_banner_area">
  <div class="banner_inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="main_title text-left" style="margin-bottom: -500px">
            <h2>Nous Connaitre</h2>
            <p>
              Entreprise jeune, dynamique et portée par une forte ambition,
              <strong><span style="color: black">LOGONE</span></strong>
              est une équipe de personnes issus d’origine et culture différente.
            </p>
            <p>
              Notre savoir faire réside sur notre capacité à allier tallent,
              nouvelle technologie et efficacité afin d'offrir une prèstation
              sur mesure et des compétences aux standars internationnaux.
            </p>
          </div>
        </div>
        <div class="col-lg-5">
          <div
            class="home_right_img"
            style="position: relative; top: -60px; right: -100px"
          >
            <img
              class=""
              src="{{ asset('assetF/') }}img/banner/home-img.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Home Banner Area =================-->

<!--================ Start About Us Area =================-->
{#
<section class="about_area section_gap" id="about-us">
  <div class="container">
    <div class="row justify-content-start align-items-center">
      <div class="col-lg-5">
        <div class="about_img">
          <img class="" src="{{ asset('assetF/') }}img/about-us.png" alt="" />
        </div>
      </div>

      <div class="offset-lg-1 col-lg-5">
        <div class="main_title text-left">
          <h2>Qui sommes nous?</h2>
          <p>
            Entreprise jeune, dynamique et portée par une forte ambition, LOGONE
            Est une équipe de personnes issus d’origine et culture différente.
          </p>
          <p>
            Notre savoir faire réside sur notre capacité à allier tallent,
            nouvelle technologie et efficacité afin d'offrir une prèstation sur
            mesure et des compétences aux standars internationnaux.
          </p>
          <a class="primary_btn" href="{{ path('about') }}"
            ><span>Voir plus</span></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
#}
<section class="features_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="main_title">
          <h2>Nos solutions</h2>
          <p>
            Is give may shall likeness made yielding spirit a itself togeth
            created after sea <br />
            is in beast beginning signs open god you're gathering ithe
          </p>
        </div>
      </div>
    </div>
    <div class="row feature_inner">
      {% for catg in categoriesService %}
      <div class="col-lg-3 col-md-6">
        <a
          title="découvrez notre offre de service dans : {{ catg.slug }} "
          class="text-font"
        >
          <div class="feature_item">
            <img
              src="{{ asset('/uploads/images/categories_service/' ~ catg.image) }}"
              alt="image parlant de {{ catg.designation }}"
            />
            <h4>
              {{ catg.designation }}
            </h4>
            <p>
              {{ catg.description|u.truncate(150,true)|raw }}
              ...
            </p>
            <a
              title="lien nos services de la catégorie : {{ catg.slug }}"
              href="{{ path('services', { slug: catg.slug }) }}"
              class="primary_btn"
            >
              <span>Voir plus</span>
            </a>
            {#
            <a href="{{ path('services', { slug: catg.slug }) }}"> Voir plus</a>
            #}
          </div>
        </a>
      </div>
      {% endfor %}
      <div style="text-align: center">
        <a
          title="lien vers toutes nos offres de service "
          href="{{ path('categorie_service_all') }}"
          class="primary_btn tr-bg"
        >
          <span>Voir Toutes nos offres</span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="blog_categorie_area section_gap_top" style="margin-top: -350px">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="main_title">
          <h2>Nos actualités</h2>
          <p>
            Is give may shall likeness made yielding spirit a itself togeth
            created after sea is in beast <br />
            beginning signs open god you're gathering ithe
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      {%for category in catgoriesArticle %}
      <div class="col-lg-4">
        <div class="categories_post">
          <img
            src="{{asset('uploads/images/categories_article/') ~ category.image}}"
            alt="{{ category.image }}"
          />
          <div class="categories_details">
            <div class="categories_text">
              <a
                href="{{ path('blog_by_categorie', { slug: category.slug }) }}"
              >
                <h5>{{ category.title }}</h5>
              </a>
              <div class="border_line"></div>
              <p>{{ category.content | raw }}</p>
              <a
                title="lien vers notre article sur : {{ category.slug }}"
                href="{{ path('article_detail', { slug: category.slug }) }}"
                class="primary_btn"
              >
                <span>Voir plus</span>
              </a>
              {#
              <a
                class="btn btn-primary"
                title="lien vers tout nos articles sur la thématique : {{
                  category.slug
                }}"
                href="{{ path('blog_by_categorie', { slug: category.slug }) }}"
                style="color: white; margin-top: 5px; width: 120px"
                >Voir plus</a
              >
              #}
            </div>
          </div>
        </div>
      </div>
      {%endfor%}
      <div style="text-align: center; margin-top: 30px; margin-bottom: 150px">
        <a
          title="lien vers toutes nos offres de service "
          href="{{ path('categorie_service_all') }}"
          class="primary_btn tr-bg"
        >
          <span>Toutes nos actualités</span>
        </a>
      </div>
    </div>
  </div>
</section>

{#
<div class="testimonial_area section_gap_bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="main_title">
          <h2>Nos actualités</h2>
          <p>
            Is give may shall likeness made yielding spirit a itself togeth
            created after sea is in beast <br />
            beginning signs open god you're gathering ithe
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="testi_slider owl-carousel">
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4">
              <img src="{{ asset('assetF/') }}img/testimonials/t1.jpg" alt="" />
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Elite Martin</h4>
                <p>
                  Him, made can't called over won't there on divide there male
                  fish beast own his day third seed sixth seas unto. Saw from
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4">
              <img src="{{ asset('assetF/') }}img/testimonials/t2.jpg" alt="" />
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Davil Saden</h4>
                <p>
                  Him, made can't called over won't there on divide there male
                  fish beast own his day third seed sixth seas unto. Saw from
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4">
              <img src="{{ asset('assetF/') }}img/testimonials/t1.jpg" alt="" />
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Elite Martin</h4>
                <p>
                  Him, made can't called over won't there on divide there male
                  fish beast own his day third seed sixth seas unto. Saw from
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4">
              <img src="{{ asset('assetF/') }}img/testimonials/t2.jpg" alt="" />
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Davil Saden</h4>
                <p>
                  Him, made can't called over won't there on divide there male
                  fish beast own his day third seed sixth seas unto. Saw from
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4">
              <img src="{{ asset('assetF/') }}img/testimonials/t1.jpg" alt="" />
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Elite Martin</h4>
                <p>
                  Him, made can't called over won't there on divide there male
                  fish beast own his day third seed sixth seas unto. Saw from
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4">
              <img src="{{ asset('assetF/') }}img/testimonials/t2.jpg" alt="" />
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Davil Saden</h4>
                <p>
                  Him, made can't called over won't there on divide there male
                  fish beast own his day third seed sixth seas unto. Saw from
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
#}

{{ include("include/frontoffice/footer.html.twig") }}
{% endblock %}
