{% extends 'baseF.html.twig'%} {% block title %} Rendez-vous | Logone {%
endblock %} {% block content %} {%
include('include/frontoffice/header.html.twig')%} {#
<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="container">
      <div class="banner_content text-center">
        <h2>Services</h2>
        <div class="page_link">
          <a href="{{ path('home') }}">Accueil</a>
          <a>Services</a>
        </div>
      </div>
    </div>
  </div>
</section>
#}
<!--================ End Banner Area =================-->

<!--================ Start Features Area =================-->
<section class="features_area section_gap_top">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="main_title">
          <h2>Prendre un rendez-vous</h2>
          <!-- Calendly inline widget begin -->
          <div
            class="calendly-inline-widget"
            data-url="https://calendly.com/ngueemmanuel?hide_landing_page_details=1&hide_gdpr_banner=1"
            style="min-width: 320px; height: 630px"
          ></div>

          <!-- Calendly inline widget end -->
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Features Area =================-->
<!--================ Start Testimonial Area =================-->
{#
<div class="testimonial_area section_gap_bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <!-- Calendly inline widget begin -->

        <!-- Calendly inline widget end -->
      </div>
    </div>

    <div class="row">
      <div class="testi_slider owl-carousel">
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4">
              <img src="{{ asset('assetF/') }}img/testimonials/t1.jpg" alt="" />
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Elite Martin</h4>
                <p>
                  Him, made can't called over won't there on divide there male
                  fish beast own his day third seed sixth seas unto. Saw from
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4">
              <img src="{{ asset('assetF/') }}img/testimonials/t2.jpg" alt="" />
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Davil Saden</h4>
                <p>
                  Him, made can't called over won't there on divide there male
                  fish beast own his day third seed sixth seas unto. Saw from
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4">
              <img src="{{ asset('assetF/') }}img/testimonials/t1.jpg" alt="" />
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Elite Martin</h4>
                <p>
                  Him, made can't called over won't there on divide there male
                  fish beast own his day third seed sixth seas unto. Saw from
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4">
              <img src="{{ asset('assetF/') }}img/testimonials/t2.jpg" alt="" />
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Davil Saden</h4>
                <p>
                  Him, made can't called over won't there on divide there male
                  fish beast own his day third seed sixth seas unto. Saw from
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4">
              <img src="{{ asset('assetF/') }}img/testimonials/t1.jpg" alt="" />
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Elite Martin</h4>
                <p>
                  Him, made can't called over won't there on divide there male
                  fish beast own his day third seed sixth seas unto. Saw from
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4">
              <img src="{{ asset('assetF/') }}img/testimonials/t2.jpg" alt="" />
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Davil Saden</h4>
                <p>
                  Him, made can't called over won't there on divide there male
                  fish beast own his day third seed sixth seas unto. Saw from
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
#}
{{ include("include/frontoffice/footer.html.twig") }}
{% block javascripts %}
<script
  type="text/javascript"
  src="https://assets.calendly.com/assets/external/widget.js"
  async
></script>
{% endblock %} {% endblock %}
