{% extends 'baseF.html.twig'%}
{% block title %}
	Rejoignez-nous | Logone
{% endblock %}
{% block meta %}
<meta name="description" content="">
<meta
  name="keywords"
  content="MARKETING DIGITAL, RELATION CLIENT, OFFRE EMPLOIS"
/>
{% endblock  %}
{% block SS %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
{% endblock %}
{% block content %}

	{% include('include/frontoffice/header.html.twig')%}

	<!--================ Start Features Area =================-->
	<section class="features_area section_gap_top">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="main_title">
						<h2>Nos offres d'emploi</h2>
						<p>
							Is give may shall likeness made yielding spirit a itself togeth created 
																																			                            after sea
							<br>
							is in beast beginning signs open god you're gathering ithe
						</p>
					</div>
				</div>
			</div>
		
			<div class="row feature_inner">
				
				{% for job in list %}
					{% if job.nombrePoste > 0 %}
					
					<div class="col-lg-3 col-md-6">
						<div class="feature_item">
							
							<h4>
								<a href="{{ path('jobdetails', {slug: job.slug}) }}"> {{ job.titre }}</a>
							</h4>
							<span>{{ job.nombrePoste }}
								Poste disponibles</span>
							<h5>{{ job.min_salary }}DT
																	-
								{{ job.max_salary }}DT</h5>
							
							<p>{{ job.description|u.truncate(250,true)|raw }}...</p>
							{# <a href="{{ path('jobdetails', {slug: job.slug}) }}" title="lien vers l'offre d'emplois: {{ job.titre }} ">... Voir plus</a> #}
							<a class="genric-btn success-border circle" href="{{ path('jobdetails', {slug: job.slug}) }}"
								><span>Voir plus</span></a
							>
							
							{# <form action="{{path('apply',{slug: job.slug})}}">
								<button class="primary_btn" style="margin: 6px;">VOIR PLUS</button>
							</form> #}
						</div>
					</div>
					
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>
</div>

{{include('include/frontoffice/footer.html.twig')}}{% endblock %}
