{% extends 'baseF.html.twig'%}
{% block title %}
	Rejoignez-nous | Logone
{% endblock %}
{% block meta %}
<meta name="description" content="">
<meta
  name="keywords"
  content="MARKETING DIGITAL, RELATION CLIENT, OFFRE EMPLOIS"
/>
{% endblock  %}
{% block SS %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
{% endblock %}
{% block content %}

	{% include('include/frontoffice/header.html.twig')%}
	<!--================ Start Features Area =================-->
	<section class="features_area section_gap_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="main_title">
                        <h2>Toute nos offres d'emplois</h2>
                        <p>
                            Is give may shall likeness made yielding spirit a itself togeth created 
                            after sea <br> is in beast beginning signs open god you're gathering ithe
                        </p>
                    </div>
                </div>
            </div>
            <div class="row feature_inner">
                {% for job in list %}
				<div class="col-lg-3 col-md-6">
                    <div class="feature_item">
                        <h4>
							<a href="{{ path('jobdetails', { slug: job.slug }) }}">
								{{ job.titre }}</a
							>
						</h4>
						
						{% autoescape  %}
						<span class="d-inline-block text-truncate" style="max-width: 150px; max-height: 300px;">
						{{ job.description|raw }}  ...
						</span>
						{% endautoescape %}
							<a
							class="genric-btn success-border circle"
							href="{{ path('jobdetails', { slug: job.slug }) }}"
							><span>Voir plus</span></a
							>
                    </div>
                </div>
				{% endfor %}
            </div>
			<div class="blog-pagination justify-content-center d-flex">
			{{ knp_pagination_render(list) }}
			</div>
        </div>
    </section>
</div>
<script>
$(document).ready(function(){
	var textTruncates = $("#text-truncate")
	console.log($("#text-truncate"))
	for (const textTruncate of textTruncates) {
		textTruncate.collapser({
		mode: 'words',
        truncate: 20
		})
	}
    $("#text-truncate").collapser({
        mode: 'words',
        truncate: 20
    });
});
</script>
{{include('include/frontoffice/footer.html.twig')}}{% endblock %}
