{% extends 'baseB.html.twig' %} {% block title %} Category-Service | Logone {%
endblock %} {% block content %}

<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  {{ include("include/backoffice/sidebar.html.twig") }}
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      {{ include("include/backoffice/navbar.html.twig") }}
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Gestion des cathégories</h1>
          <a
            href="{{ path('category_service_add') }}"
            class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
          >
            <i class="fas fa-plus"></i>
            Ajouter une cathégorie</a
          >
        </div>

        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
              Listes des cathégories
            </h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table
                class="table table-bordered"
                id="dataTable"
                width="100%"
                cellspacing="0"
              >
                <thead>
                  <tr>
                    <th>Désignation</th>
                    <th>Options</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Désignation</th>
                    <th>Options</th>
                  </tr>
                </tfoot>
                <tbody>
                  {% for catg in catgs %}
                  <tr>
                    <td>
                      {{ catg.designation }}
                    </td>
                    <td>
                      <a
                        href="{{
                          path('category_service_edit', { slug: catg.slug })
                        }}"
                      >
                        <i class="far fa-edit"></i></a
                      >&nbsp;
                      <a
                        title="Vueillez-vous rassurer que cette élément ne soit pas relier à un de devis ou à un service"
                        href="{{
                          path('category_service_delete', { slug: catg.slug })
                        }}"
                      >
                        <i class="fas fa-trash-alt"></i
                      ></a>
                      <button
                        type="button"
                        class="btn"
                        data-toggle="modal"
                        data-target="#exampleModalLong"
                      >
                        <i class="fas fa-eye"></i>
                      </button>
                      <div
                        class="modal fade"
                        id="exampleModalLong"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="exampleModalLongTitle"
                        aria-hidden="true"
                      >
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5
                                class="modal-title"
                                id="exampleModalLongTitle"
                              >
                                {{ catg.designation }}
                              </h5>
                              <button
                                type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close"
                              >
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="row">
                                <div class="col-lg-3">
                                  <h6>Description</h6>
                                </div>
                                <div class="col-lg-9">
                                  {{ catg.description | raw }}
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button
                                type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal"
                              >
                                Close
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    {{ include("include/backoffice/footer.html.twig") }}
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div
  class="modal fade"
  id="logoutModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Select "Logout" below if you are ready to end your current session.
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">
          Cancel
        </button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
