{% extends 'baseB.html.twig' %} {% block title %} Admin-Devis | Logone {%
endblock %} {% block content %}

<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  {{ include("include/backoffice/sidebar.html.twig") }}
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      {{ include("include/backoffice/navbar.html.twig") }}
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Gestion des devis</h1>
        </div>

        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Liste devis</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table
                class="table table-bordered"
                id="dataTable"
                width="100%"
                cellspacing="0"
              >
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Catégorie service</th>
                    <th>Service</th>
                    <th>Confirmation</th>
                    <th>Accepter</th>
                    <th>Etat du projet</th>
                    <th>Options</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Catégorie service</th>
                    <th>Service</th>
                    <th>Confirmation</th>
                    <th>Accepter</th>
                    <th>Etat du projet</th>
                    <th>Options</th>
                  </tr>
                </tfoot>
                <tbody>
                  {% for devis in devis %}
                  <tr>
                    <td>
                      {{ devis.lastName }}
                    </td>
                    <td>{{ devis.email }}</td>
                    <td>{{ devis.categories.designation }}</td>
                    <td>{{ devis.services.designation }}</td>
                    <td>
                      {% if devis.confirm %}
                      <i class="fas fa-times-circle" style="color: red"></i> {%
                      else %}
                      <i
                        class="fas fa-check-circle"
                        style="color: rgb(12, 231, 12)"
                      ></i>
                      {% endif %}
                    </td>
                    <td>
                      {% if devis.closingStatus == 0 %}
                      <form
                        action="{{
                          path('admin_closing_status', { id: devis.id })
                        }}"
                        method="post"
                      >
                        <input
                          type="hidden"
                          name="token"
                          value="{{ csrf_token('devis-closed') }}"
                        />

                        <button
                          type="submit"
                          style="background: none; border: none; outline: none"
                        >
                          <div class="custom-control custom-checkbox small">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="flexRadioDefault"
                              id="flexRadioDefault1"
                            />
                          </div>
                        </button>
                      </form>
                      {% else %}
                      <i
                        class="fas fa-check-circle"
                        style="color: rgb(12, 231, 12)"
                      ></i>
                      {% endif %}
                    </td>
                    <td>
                      {% if devis.jobDone == 0 %}
                      <form
                        action="{{ path('admin_job_done', { id: devis.id }) }}"
                        method="post"
                      >
                        <input
                          type="hidden"
                          name="token"
                          value="{{ csrf_token('job-done') }}"
                        />

                        <button
                          type="submit"
                          style="background: none; border: none; outline: none"
                        >
                          <div class="custom-control custom-checkbox small">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="flexRadioDefault"
                              id="flexRadioDefault1"
                            />
                            <label
                              class="custom-control-label{{ loop.index }}"
                              for="customCheck"
                            ></label>
                          </div>
                        </button>
                      </form>
                      {% else %}
                      <i
                        class="fas fa-check-circle"
                        style="color: rgb(12, 231, 12)"
                      ></i>
                      {% endif %}
                    </td>
                    <td>
                      <a href="{{ path('devis_delete', { id: devis.id }) }}">
                        <i class="fas fa-trash-alt"></i></a
                      >&nbsp;
                      <button
                        type="button"
                        class="btn"
                        data-toggle="modal"
                        data-target="#exampleModalLong{{ loop.index }}"
                      >
                        <i class="fas fa-eye"></i>
                      </button>
                      <div
                        class="modal fade"
                        id="exampleModalLong{{ loop.index }}"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="exampleModalLongTitle"
                        aria-hidden="true"
                      >
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5
                                class="modal-title"
                                id="exampleModalLongTitle"
                              >
                                Demande devis
                              </h5>
                              <button
                                type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close"
                              >
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="row">
                                <div class="col-lg-3">
                                  <h6>Nom & Prenom</h6>
                                </div>
                                <div class="col-lg-9">
                                  <p>
                                    {{ devis.lastName }}&nbsp;{{
                                      devis.firstName
                                    }}
                                  </p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-3">
                                  <h6>email</h6>
                                </div>
                                <div class="col-lg-9">
                                  <p>
                                    {{ devis.email }}
                                  </p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-3">
                                  <h6>Téléphone</h6>
                                </div>
                                <div class="col-lg-9">
                                  <p>
                                    {{ devis.phoneNumber }}
                                  </p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-3">
                                  <h6>Entreprise</h6>
                                </div>
                                <div class="col-lg-9">
                                  <p>
                                    {{ devis.company }}
                                  </p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-3">
                                  <h6>Pays</h6>
                                </div>
                                <div class="col-lg-9">
                                  <p>
                                    {{ devis.country }}
                                  </p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-3">
                                  <h6>Description</h6>
                                </div>
                                <div class="col-lg-9">
                                  <p>{{ devis.subject }}</p>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button
                                type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal"
                              >
                                Close
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    {{ include("include/backoffice/footer.html.twig") }}
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div
  class="modal fade"
  id="logoutModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Select "Logout" below if you are ready to end your current session.
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">
          Cancel
        </button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
